
/*=============================================
=                  w-80 W-100 COMM                  =
=============================================*/
.w-80nop {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.w-80 {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;

}

.w-80-left{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;

}

.w-100-center > h1{
    width: 100%;
    box-sizing: border-box;
    font-size: 1.25rem;
    display: flex;
    color: #0f0d0d;
    padding: 50px 0;
    white-space: nowrap;
    font-weight: bolder;
}

.w-100-center > h1::before,
.w-100-center > h1::after{
    content: "";
    display: block;
    height: 3px;
    width: 28rem;
    background-color: #8b9fb3;
    margin: auto;
}



/*=============================================
=                  footer                  =
=============================================*/
#footer{
    padding-top: 20px;
    text-align: center;
    background-color: #000;
    margin-top:110px;
}

.footer-list > a{
    text-decoration: none;
    color: #FFF;
}

.confooter{
    width: 100%;
}
.text-white{
    color: #FFF;
}
.confoot{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.copyright{
    text-align: center;
    background-color: #27292b;
    color: #FFFFFF;
    font-size: 0.625rem;
}
.text-center{
    margin: 20px 0 ;
}

.footer-list{
   padding: 0 20px;
}
.footer-list > ul{
    padding: 10px 0;
}
.footer-list > ul > li{
    padding: 10px;
}
.footer-list > ul > li > a{
    text-decoration: none;
    color: #fff;
    font-size: 0.625rem;
}

.footer-end{
    line-height: 1.5;
} 

.text-uppercase{
    padding: 0 0 5px 0;
}
.text-uppercase >b{
    padding: 0 20px;
}


/*=============================================
=                  footer-mob  css                =
=============================================*/
.footer-mob{
    display: none;
}

.ft > a{
    text-decoration: none;
    color: #FFF;
}

.ft{
    padding: 10px 0;
    
}

.ft > h4{
    padding: 5px 0;
}

.ft > ul > li{
    display: none;
    padding-top: 10px;
}
.ft > ul > li > a{
    text-decoration: none;
    color: #fff;
    font-size: 0.625rem;
}




/*=============================================
=                  footer-mob                  =
=============================================*/
@media (max-width: 767.98px){
    .confoot{
        display: none ;
    }
    
    .footer-mob{
        display: flex;
        flex-direction: column;
    }
    .footer-end{
        margin: 0 10px;
    }
    .text-center{
        line-height: 1.5;
    }
}


/*=============================================
=           goBackBtn                  =
=============================================*/

#goBackBtn {
    width: 40px;
    height: 40px;
    border:none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    border-radius: 50%;
    background-color: cornflowerblue;
}

/*=============================================
=           ad                  =
=============================================*/

.side-box {
    width: 300px;
    position: fixed;
    right: -275px;
    bottom: 80px;
    z-index: 100;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.2);
    transition: all .3s ease;
}

.side-box.active {
    right: 0px;
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.ad-toggle-btn {
    width: 25px;
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
}

.ad-toggle-btn>i {
    transform: rotateZ(90deg);
}

.ad-toggle-btn:hover {
    color: #666;
}

.right-part {
    padding: 10px;
}

.right-part > p{
    margin-bottom: 0;
    text-decoration: none;
    color: black;
}

.w-100{
    max-width: 50%;
}

