html{
    font-size: 16px;
}

body {
    font-family: arial, 微軟正黑體;
    margin: 0;
}
/* ===================================
=                  fac                  =
============================================= */
.facitem2,
.facitem{
    display: flex;
    align-items: center;
    margin: 20px 0 0 40px;
    padding-top: 30px;
    -webkit-filter:drop-shadow(5px 5px 5px #333);
}

.factimg{
    width: 55%;
    flex-shrink: 0;
} 

.factimg > img{
    width: 100%;
    border-radius: 2px;
    object-fit: fill;
} 

.factext{
    width: 55%;
    flex-shrink: 0;
    background-color: #fafae0;
    color: black;
    padding: 50px 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    border-radius: 4px;
}

.facitem2 > :first-child{
    margin-right: -15%;
}

.facitem > :first-child{
    margin-right: -15%;
}

.factext > h2{
    font-size: 1.2rem;
}

.factext > p{
    font-size: 1rem;
    padding: 10px;
    line-height: 1.2;
}

/* ===================================
=              fac-mob                  =
============================================= */

@media (max-width: 767.98px){
    .facitem{
        flex-direction: column;
        margin: auto;
        align-items:initial;
        padding: 30px;
    }

    .facitem2{
        flex-direction: column-reverse;
        margin: auto;
        align-items:initial ;
        padding: 30px;
    }
    .factimg{
        width: 100%;
    }
    
    .factimg > img{
        display: block;
        width: 100%;
        
    }
    .factext{
        width: 100%;
    }

}