/*=============================================
=                  手機導覽列         =
=============================================*/
.hamburger{
    display: none;
}

@media (max-width: 767.98px){
    .header-top{
        display: flex;
        justify-content: space-between;
    }
    .ham-top {
        z-index: 99;
        margin: auto;
    }
    .hamburger{
        display: inline-block;
        margin: 0 auto;
    }
    .offcanvas {
        display: none;
        height: 100%;
        width: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, .3);
        padding: 60px 0;
        top: 0;
    }

    .offcanvas ul{
        flex-direction: column;
    }

    .offcanvas ul li {
        margin: 18px 0;
        text-align: center;
    }

    .offcanvas ul li a {
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
        text-decoration: none;
    }

    .myImg_Slider{
        max-height: 300px;
    }

    .home-img{
        display: flex;
        flex-direction: column;
    }

    .background{
        height: 300px;
        flex: none;
    }

    .home-img2{
        display: flex;
        flex-direction: column-reverse;
    }
    .background2{
        height: 300px;
        flex: none;
    }
    .news-img-list{
        flex-direction: column;
    }

}    