body {
    font-family: arial, 微軟正黑體;
    background-color: #FFFFFF;
    margin: 0;
}



/*=============================================
=                   logo                  =
=============================================*/
.navbar .logo-img {
    display: block;
    width: 100px;
    margin-left: 20px;
    
}
/*=============================================
=                   主選單                    =
=============================================*/

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    background-color: #0a0a0a;
}

.navbar > ul{
    display: flex;
    margin:auto;
   
    
}

.navbar > ul > li{
    display: inline-block;
    padding: 20px;
    text-align: center;
    flex-direction: row;
    white-space: nowrap;
}

.navbar > ul > li > a{
    text-decoration: none;
    font-size: 16px;
    color: #dcbb0f;;
    font-weight: bold;
    opacity: 0.7;
}

.navbar > ul > li > a:hover{
    opacity:1 ;
}

/*=============================================
=                   index-圖片輪播                    =
=============================================*/

.myImgSlider > img{
    width: 100%;
    height: 500px;
}
   
/*=============================================
=                   index-介紹                    =
=============================================*/

.home-img{
    display: flex;
    margin:40px 20px 0 20px;
}

.text{
    flex: 1;
    background-color: black;
    padding: 50px 0;
}


.text > p{
    color: #8d9196;
    padding: 0 20px;
}

.background{
    flex: 1;
    background-image: url(./material/飯店.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.home-img2{
    display: flex;
    margin:0 20px 0 20px;
}

.background2{
    flex: 1;
    background-image: url(./material/設備.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*=============================================
=                  w-80 W-100                  =
=============================================*/
.w-80 {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

.w-80-left{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;

}

.w-100-center > h1{
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    display: flex;
    color: #0f0d0d;
    padding: 30px 0;
}

.w-100-center > h1::before,
.w-100-center > h1::after{
    content: "";
    display: block;
    height: 5px;
    width: 9em;
    background-color: #8b9fb3;
    margin: auto;
}


/*=============================================
=                 index 最新消息 MORE                 =
=============================================*/
.topic{
    margin-bottom: 60px;
    position: relative;
}
.topic > h2{
    color: #dcbb0f;
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid #cecece;
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
}

.btn-more{
    font-size: 0.75em;
    position: absolute;
    right: 0;
    bottom: 20px;

}
.topic > a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    color: #8b9fb3;
    text-decoration: none;
}
/*=============================================
=                  index-最新消息                  =
=============================================*/

.news-img-list{
    display: flex;
    justify-content: center;

}

.item{
    text-align: left;
    display: inline-block;
    padding: 0 40px;
}

.img-item1,
.img-item2,
.img-item3{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 200px;
    
    
}

.item > a{
    text-decoration: none;
}

.content > h3{
    color: #0a0a0a;
    text-decoration: none;
    font-size: 1em;
    font-weight:normal;
    padding: 10px 0;
}

.content > p{
    color: #505253;
    font-size: 0.75em;
    font-weight:normal;
    padding: 20px 0;
    

}

/*=============================================
=                  footer                  =
=============================================*/
.footer{
    padding-top: 40px;
    text-align: center;
    background-color: #dad9d6;
    margin-top:30px;
}

.copyright{
    text-align: center;
    background-color: #27292b;
    color: #FFFFFF;
    font-size: 0.3em;
    padding: 20px;
}

.footer > a{
    padding: 0 10px;
}

/*=============================================
=                  news-top                  =
=============================================*/



/*=============================================
=                  news-item                  =
=============================================*/

.news-list{
    display: flex;
    justify-content: center;
}

.img{
    background-position: revert;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 200px;
    margin-bottom: 20px; 
    width: 300px;
}

.item-2{
    text-align: left;
    display: inline-block;
    padding: 0 40px;
}


/*=============================================
=                  room                  =
=============================================*/
.roomcontainer{
    width: 1200px;
    margin: auto;
    text-align: center;
}


.roomitem{
    display: flex; 
    justify-content: center;
    
}

.roomlist{
    margin:0 50px;
    background-color: #ffffff69;
    border-radius: 4px;
    overflow: hidden;
    background-color: #94bef1;

   
}

.roomtext{
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    
    
}
.roomtext > h2{
   font-size: 20px;
   padding: 10px;
   color: saddlebrown;

}
.roomtext > p{
    font-size: 0.75em;
    

}
.roomlist > img{
    text-align: center;
}
.roombtn{
    line-height: 1.5em;
    border: 1px solid rgb(14, 12, 12);
    padding: 0 1em;
    align-self: flex-end;
    text-decoration: none;
    border-radius: 200px;
    margin-top: auto;

}

.roomsection2{
    padding:40px 0;
}

/*============================================
=                  fac                  =
=============================================*/
.wrap{
    width: 1200px;
    margin: auto;

}
.facitem{
    display: flex;
    align-items: center;
}

.factimg{
    width: 55%;
    flex-shrink: 0;
} 

.factimg > img{
    vertical-align: middle;
    width: 80%;
} 
.factext{
    width: 55%;
    flex-shrink: 0;
    background-color: #47df98;
    padding: 50px 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    border-radius: 4px;
}

.facitem > :first-child{
    margin-right: -15%;
}

.factext > h2{
    font-size: 20px;
}

.factext > p{
    font-size: 0.75em;
    padding: 10px;
    line-height: 16px;
}


/*=============================================
=                  about                  =
=============================================*/

.aboutlist{
    display: flex;
    justify-content: center;
    margin: 0 0 0 100px;
}

.aboutimg > img{
    display: block;
    margin: auto;
}

.aboutext{
    margin: 50px;
}

.aboutext > h3{
    color: #0a0a08;
}

/*=============================================
=                  contact                  =
=============================================*/
.conwrap{
    display: flex;
    justify-content: center;
    background-image: url(./material/房型2.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;

}

.container{
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 10px solid #fff;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(6px);
    margin: 20px 0;
    align-items: center;
}

.form label{
    line-height: 2;
    font-weight: bold;
}

.form input{
    line-height: 1.5;
    border-radius: 4px;
}

.submitlist > button{
    background-color: green;
    color: #FFFFFF;
}


  /*=============================================
=                  food                  =
=============================================*/
.foodwrap{
    display: flex;
    padding: 25px;
    justify-content: center;

}
.fooditem{
    position: relative;
    width: 20%;

}

.fooditem > img {
    vertical-align: middle;
    height: 350px;
    aspect-ratio: 4/5;
}

.fooditem > img {
    vertical-align: middle;
    height: 350px;
    aspect-ratio: 4/5;
    
}

.foodtext {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity .3s;
    width: 280px;
    text-align: center;
}

.fooditem:hover .foodtext{
    opacity: 1;
}
.foodtext > h3{
    color: #dcbb0f;
    line-height: 25px;
}

.PS{
    text-align: center;
    padding: 10px;
    color: rgb(221, 69, 69);
}
.NO-jams{
    text-align: center;
}
/*=============================================
=                  location                  =
=============================================*/

.map{
    margin: 40px;
}

/*=============================================
=           roomintro                    =
=============================================*/

.roomintroimg{
    text-align:center;
    margin-top: 50px;
}

.roomintrotext{
    border-top: 1px solid #0a0a0a;
    width: 100%;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #666;
    font-size: 15px;
    text-align: center;
}