body {
    font-family: arial, 微軟正黑體;
    margin: 0;
}



/*=============================================
=                   logo                  =
=============================================*/
.navbar .logo-img {
    display: block;
    width: 100px;
    margin-left: 20px;
    
}
/*=============================================
=                   主選單                    =
=============================================*/

.navbar{
    display: flex;
    align-items: center;
    padding: 12px;
    position: relative;
    background-color: #FFFFFF;
}

.navbar > ul{
    display: flex;
    margin:auto;
   
    
}

.navbar > ul > li{
    display: inline-block;
    padding: 20px;
    text-align: center;
    flex-direction: row;
    white-space: nowrap;
}

.navbar > ul > li > a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(58, 46, 6);
    font-weight: bold;
    
}

.navbar > ul > li > a:hover{
    color: #dcbb0f;
    cursor: context-menu;
}

/*=============================================
=                   index-圖片輪播                    =
=============================================*/

.myImg_Slider{
    height: 500px;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*=============================================
=                   index-介紹                    =
=============================================*/

.home-img{
    display: flex;
    margin:40px 20px 0 20px;
}

.text{
    flex: 1;
    background-color: black;
    padding: 50px 0;
}


.text > p{
    color: #FFFFFF;
    padding: 0 20px;
    font: 25px;
}

.background{
    flex: 1;
    background-image: url(./material/hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.home-img2{
    display: flex;
    margin:0 20px 0 20px;
}

.background2{
    flex: 1;
    background-image: url(./material/fac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*=============================================
=                  w-80 W-100                  =
=============================================*/
.w-80nop {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.w-80 {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;

}

.w-80-left{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;

}

.w-100-center > h1{
    width: 100%;
    box-sizing: border-box;
    font-size: 27px;
    display: flex;
    color: #0f0d0d;
    padding: 50px 0;
}

.w-100-center > h1::before,
.w-100-center > h1::after{
    content: "";
    display: block;
    height: 4px;
    width: 8em;
    background-color: #8b9fb3;
    margin: auto;
}


/*=============================================
=                 index 最新消息 MORE                 =
=============================================*/
.topic{
    margin-bottom: 60px;
    position: relative;
}
.topic > h2{
    color: #dcbb0f;
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid #cecece;
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
}

.btn-more{
    font-size: 0.75em;
    position: absolute;
    right: 0;
    bottom: 20px;

}
.topic > a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    color: #8b9fb3;
    text-decoration: none;
}
/*=============================================
=                  index-最新消息                  =
=============================================*/

.news-img-list{
    display: flex;
    justify-content: center;

}

.item{
    text-align: left;
    display: inline-block;
    padding: 0 40px;
}

.img-item1,
.img-item2,
.img-item3{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 200px;
}

.item > a{
    text-decoration: none;
}

.content > h3{
    color: #0a0a0a;
    text-decoration: none;
    font-size: 1em;
    font-weight:normal;
    padding: 10px 0;
}

.content > p{
    color: #505253;
    font-size: 0.75em;
    font-weight:normal;
    padding: 20px 0;
    
}

/*=============================================
=                  footer                  =
=============================================*/
#footer{
    padding-top: 40px;
    text-align: center;
    background-color: #000;
    margin-top:110px;
}

.confooter{
    width: 100%;
}
.text-white{
    color: #FFF;
}
.confoot{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.copyright{
    text-align: center;
    background-color: #27292b;
    color: #FFFFFF;
    font-size: 0.3em;
    padding: 20px;
}


.footer-list{
   padding: 0 20px;
}
.footer-list > ul{
    padding: 10px 0;
}
.footer-list > ul > li{
    padding: 10px;
}
.footer-list > ul > li > a{
    text-decoration: none;
    color: #fff;
    font-size: 5px;
}

/*=============================================
=                  news最新消息                  =
=============================================*/

.newlist-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-1 > img{
    width: 330px;
}


/*=============================================
=                  room                  =
=============================================*/
.roomcontainer{
    width: 1200px;
    margin: auto;
    text-align: center;
}


.roomitem{
    display: flex; 
    justify-content: center;
    
}

.roomlist{
    margin:0 50px;
    background-color: #ffffff69;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    text-align: -webkit-center;
}

.roomtext{
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.roomtext > h2{
   font-size: 20px;
   padding: 10px;
   color: saddlebrown;
}
.roomtext > p{
    font-size: 14px;
    padding: 10px;
    line-height: 1.2;
}
.roomlist > img{
    text-align: center;
    width:400px;
}

.roombtn{
    line-height: 1.5em;
    border: 1px solid rgb(14, 12, 12);
    padding: 0 1em;
    align-self: flex-end;
    text-decoration: none;
    border-radius: 200px;
    margin-top: auto;

}

.roomsection2{
    padding:40px 0;
}

/*============================================
=                  fac                  =
=============================================*/
.wrap{
    width: 1200px;
    margin: auto;

}
.facitem{
    display: flex;
    align-items: center;
}

.factimg{
    width: 55%;
    flex-shrink: 0;
} 

.factimg > img{
    vertical-align: middle;
    width: 80%;
} 
.factext{
    width: 55%;
    flex-shrink: 0;
    background-color: #47df98;
    padding: 50px 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    border-radius: 4px;
}

.facitem > :first-child{
    margin-right: -15%;
}

.factext > h2{
    font-size: 20px;
}

.factext > p{
    font-size: 0.75em;
    padding: 10px;
    line-height: 16px;
}


/*=============================================
=                  about                  =
=============================================*/

.floorroomname {
    border: 1px solid;
    padding: 9px;
    background-color: #0a0a0a;
    color: #fff;
    font:revert;
}

.floor-intro table {
    margin: auto auto 40px auto;
}

.floor{
    border-left: 1px solid;
    background-color: firebrick;
    border: 1px solid #fff;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}


/*=============================================
=                  contact                  =
=============================================*/
.conwrap{
    display: flex;
    justify-content: center;
    background-image: url(./material/pexels-konstantinos-eleftheriadis-2034335.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;

}

.contact-form{
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 10px solid #fff;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(6px);
    margin: 20px 0;
    align-items: center;
}

.form label{
    line-height: 2;
    font-weight: bold;
}

.form input{
    line-height: 1.5;
    border-radius: 4px;
}

.submitlist > button{
    background-color: green;
    color: #FFFFFF;
}


  /*=============================================
=                  food                  =
=============================================*/

.restaurantinner{
    width: 900px;
    margin: auto;
    display: flex;
}
.restphoto-word{
    background-color: rgb(58, 46, 6);
}

.restphoto > img{
    height: 300px;
}

.restname{
    font-size: 20px;
    margin: 0 20px;
    padding: 10px 0;
    color: #fff;
}
.taglist{
    text-align: left;
    margin: 10px 10px 15px;
}    

.taglist > li{
    display: inline-block;
    font-size: 12px;
    padding: 5px 8px;
    background-color: aliceblue;
}

.desc{
    font-size: 13px;
    text-align: inherit;
    padding: 0 10px;
    line-height: 1.2;
    color: #fff;
}

.restfood-list{
    margin:15px 0 50px 0
}


/*=============================================
=                  location                  =
=============================================*/

.map{
    text-align: center;
}

.mapTitle{
    text-align: center;
    margin: 20px 0;
}

.mapTitle > h1{
    font-size: 25px;
    padding: 10px;
}

.mapTitle > h2,
.mapTitle > h3{
    font-size: 15px;
    padding: 10px;
}

.titleBox2{
    margin-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
}
.titleHow{
    position: relative;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 16px;
    font-size: 14px;
    letter-spacing: .1em;
    color: #000;
    font-weight: 400;
    font-weight: bolder;
}

.titleHow::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #916f2d;
}

.fa-solid{
    font-size: 40px;
    padding: 0 20px;
}

.conPub{
    padding: 15px;
    line-height: 1.5;
}

.titleCars,
.titleTrain,
.titleAir{
    margin: 0 20px;
    padding: 20px 0;
}
.locatBox2{
    text-align: center;
    width: 100%;
}

.timeTable{
    overflow-x: auto;
    width: 100%;
}

.locatBox2{
    border-collapse: collapse;
}

.arrive > td{
    border: 1px solid;
    padding: 10px 20px;
}

.clock > td{
    border: 1px solid #bbb;
    padding: 12px 25px;
}
/*=============================================
=           roomintro                    =
=============================================*/

.content-left{
    display: inline-block;
    margin: 40px;
    vertical-align: baseline;
    text-align: center
}


.list-title{
    color: #8a8a8a;
    display: block;
    font-weight: lighter;
    font-size: 1.5em;
    text-decoration: none;
    vertical-align:baseline
}

.content-left-list{
    display: block;
    background-color: transparent;
    cursor: default;
    padding: 15px;
}

.content-left-list > li > a{
    background-color:gainsboro;
    color: #8a8a8a;
    border-top: 1px solid #f4f4f4;
    display: block;
    text-decoration: none;
    padding:12px 20px;
}
.content-left-list > li > a:hover{
    color: #47df98;
    background-color: #27292b;
    cursor: context-menu;
}

.sldimg > img{
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;   
}

.on > img{
    width: 100%;
    height: 131px;
    object-fit: cover;
    overflow: hidden;
}

.on:hover{
    filter: none;
}

.on{
    filter: grayscale(100%);
}

section.guestroom{
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}
.roomTopBlock{
    margin: 60px auto;
    background-color: #fff;
}

.title{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px 0 25px;
    color: #222;
}

.btnM {
    max-width: 250px;
    padding: 20px 20px 20px;
}
.btnM > a{
    display: block;
    line-height: 15px;
    font-size: 15px;
    padding: 10px;
    background: #AC8541;
    color: #FFF !important;
    font-weight: 500;
    text-align: center;
    text-decoration: none !important;
}

.thumbList{
    display: flex;
    flex-direction: column;
}

.sldBlock{
    display: flex;
}
.withBar{
    background-color: #0a0a0a;
    color: #FFF;
    font-size: 20px;
    text-align: left;
    padding: 10px 20px;
}

.borderBlock{
    padding: 40px 40px 30px;
    border: 1px solid #bbb;
    background-color: #f4f4f4;
    margin: 0 auto 50px;
}
.table01{
   width:100%;
   border-collapse: collapse;
}
.detail{
    width: auto;
}

.table01-detail > th{
    border: 1px solid #DDD;
    padding: 10px 15px;
    text-align: left;
    font-size: 16px;
    background-color: #fff;

}

.table01-detail > td{
    border: 1px solid #DDD;
    vertical-align: middle;
    padding: 10px 15px;
    text-align: left;
    font-size: 12px;

}
.caution{
    font-size: 10px;
    padding: 20px 20px 0 0;
}

/*=============================================
=           goBackBtn                  =
=============================================*/

#goBackBtn {
    width: 40px;
    height: 40px;
    border:none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    border-radius: 50%;
}